<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>VerProductos</servlet-name>
        <servlet-class>Acciones.VerProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenerCesta</servlet-name>
        <servlet-class>Acciones.ObtenerCesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AñadirAlCarrito</servlet-name>
        <servlet-class>Acciones.AñadirAlCarrito</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VerProductos</servlet-name>
        <url-pattern>/VerProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenerCesta</servlet-name>
        <url-pattern>/ObtenerCesta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
