
body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #7F7F81;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: black;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #3ABADF;
}

a:hover {
}

img.border {
	border: 6px solid #E1F1F6;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header {
	width: 1000px;
	height: 250px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	height: 60px;
	margin: 0;
	padding: 160px 0px 0px 0px;
	color: #FFFFFF;
}

#iconos {
	float: rigth;
	height: 60px;
	margin: 0;
	padding: 160px 0px 0px 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding: 0;
}

#logo h1 {
	float: left;
	padding-left: 30px;
	letter-spacing: -1px;
	text-transform: uppercase;
	text-shadow: #728927 -1px 1px 2px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 64px;
}

#logo p {
	margin: 0;
	padding: 30px 0 0 34px;
	text-shadow: #728927 -1px 1px 2px;
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 0px; 
	height: 0px;
	padding: -15;
}

#search form {
	height: 40px;
	margin: 0;
	padding: 20px 0 0 30px;
}

#search fieldset {
	margin: 10;
	padding: 15;
	border: none;
}

#search-text {
	width: 195px;
	padding: 6px 10px;
	border: none;
	background: #FFFFFF;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #7F7F81;
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #000000;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 1000px;
	height: 61px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img02.jpg) repeat-x left bottom;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 48px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	height: 41px;
	margin-right: 1px;
	padding: 20px 20px 0px 20px;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: #7E0044 -1px 1px 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	background: url(images/img03.jpg) repeat-x left top;
	text-shadow: #43206B -1px 1px 2px;
}

#menu a:hover {
	background: url(images/img03.jpg) repeat-x left top;
	text-decoration: none;
}

#splash {
	width: 1000px;
	height: 260px;
	margin: 0px auto;
	background: url(images/img05.jpg) no-repeat left top;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	background: #FFFFFF;
}

#page-bgtop {
}

#page-bgbtm {
	margin: 0px;
	padding: 40px 30px 0px 30px;
}

/* Content */

#content {
	float: left;
	width: 520px;
	padding: 0px 20px;
}

.post {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #EFF4F5;
}

.post .title {
	letter-spacing: -1px;
	color: #1757AB;
}

.post .title a {
	color: #7AC8D4;
	border: none;
}

.post .meta {
	padding-bottom: 5px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
}

.post .meta a {
}

.post .entry {
	text-align: justify;
	margin-bottom: 25px;
	padding: 10px 0px 0px 0px;
}

.links {
	display: block;
	width: 96px;
	padding: 2px 0px 2px 0px;
	background: #A53602;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 330px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 15px;
	padding-bottom: 30px;
}

#sidebar li li {
	padding-left: 15px;
	line-height: 35px;
	background: url(images/img07.jpg) no-repeat left 14px;
	border-bottom: 1px solid #EFF4F5;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 15px;
	letter-spacing: -1px;
	color: #95C500;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #7F7F81;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #95C500;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 1010px;
	height: 110px;
	margin: 0px auto 40px auto;	
	font-family: Arial, Helvetica, sans-serif;
	background-color: #B3B3B3; 
}

#footer p {
	margin: 0;
	padding-top: 22px;
	line-height: normal;
	font-size: 10px;
	color: black;
	text-transform: uppercase;
	text-align: center;
}


/*------
datos tabla
---------*/
.datos{
	color: black;	
	}
/*search*/

#search {
	width: 100px;
	height: 20px;
	margin: 1 auto;
	padding: 0;
}

#search form {
	float: right;
	margin: 0;
	padding: 19px 25px 0 0;
}

#search fieldset {
	margin: 0;
	padding: -15;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 135px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #000000;
	color: #FFFFFF;
}
/*TITULOS*/

.titulos
{
text-shadow:1px 1px 1px rgba(255,187,135,1);
font-weight:normal;
color:#E88615;
background-color:#FFFFFF;
letter-spacing:1pt;
word-spacing:5pt;
font-size:30px;
text-align:center;
font-family:impact, sans-serif;
line-height:3;
margin:0px;
padding:8px;
align:center;
}

/*BOTONES*/

.btn {
  background: #d9a234;
  background-image: -webkit-linear-gradient(top, #d9a234, #ff8400);
  background-image: -moz-linear-gradient(top, #d9a234, #ff8400);
  background-image: -ms-linear-gradient(top, #d9a234, #ff8400);
  background-image: -o-linear-gradient(top, #d9a234, #ff8400);
  background-image: linear-gradient(to bottom, #d9a234, #ff8400);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #f56e6e;
  background-image: -webkit-linear-gradient(top, #f56e6e, #e81515);
  background-image: -moz-linear-gradient(top, #f56e6e, #e81515);
  background-image: -ms-linear-gradient(top, #f56e6e, #e81515);
  background-image: -o-linear-gradient(top, #f56e6e, #e81515);
  background-image: linear-gradient(to bottom, #f56e6e, #e81515);
  text-decoration: none;
}
/*boton de seguir comprando*/

.boton-seguir {
  background: #50d442;
  background-image: -webkit-linear-gradient(top, #50d442, #448518);
  background-image: -moz-linear-gradient(top, #50d442, #448518);
  background-image: -ms-linear-gradient(top, #50d442, #448518);
  background-image: -o-linear-gradient(top, #50d442, #448518);
  background-image: linear-gradient(to bottom, #50d442, #448518);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.boton-seguir:hover {
  background: #93fc3c;
  background-image: -webkit-linear-gradient(top, #93fc3c, #d9cb34);
  background-image: -moz-linear-gradient(top, #93fc3c, #d9cb34);
  background-image: -ms-linear-gradient(top, #93fc3c, #d9cb34);
  background-image: -o-linear-gradient(top, #93fc3c, #d9cb34);
  background-image: linear-gradient(to bottom, #93fc3c, #d9cb34);
  text-decoration: none;
}
/*boton realizar pedido*/

.boton-comprar {
  background: #6b44d4;
  background-image: -webkit-linear-gradient(top, #6b44d4, #192b85);
  background-image: -moz-linear-gradient(top, #6b44d4, #192b85);
  background-image: -ms-linear-gradient(top, #6b44d4, #192b85);
  background-image: -o-linear-gradient(top, #6b44d4, #192b85);
  background-image: linear-gradient(to bottom, #6b44d4, #192b85);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 9px 20px 10px 20px;
  text-decoration: none;
}

.boton-comprar:hover {
  background: #da3cfa;
  background-image: -webkit-linear-gradient(top, #da3cfa, #a234d9);
  background-image: -moz-linear-gradient(top, #da3cfa, #a234d9);
  background-image: -ms-linear-gradient(top, #da3cfa, #a234d9);
  background-image: -o-linear-gradient(top, #da3cfa, #a234d9);
  background-image: linear-gradient(to bottom, #da3cfa, #a234d9);
  text-decoration: none;
}
/*MENU ICONOS*/

#colorNav > ul{
	width: 300px; /* Aumentamos cuando añadimos mas item*/
	height:30 px;
	margin:40px;
}

#colorNav > ul > li{ /* estilo de la parte superior del li*/
	list-style: none;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
	display: inline-block;
	line-height: 1;
	margin: 5px;
	border-radius: 35px;
	position:relative;
}

#colorNav > ul > li > a{
	color:inherit;
	text-decoration:none !important;
	font-size:30px;
	padding: 25px;
}

#colorNav li ul{
	position:absolute;
	list-style:none;
	text-align:center;
	width:100px;
	left:60%;
	margin-left:-90px;
	top:15px;
	font:bold 12px 'Open Sans Condensed', sans-serif;
	
	/*Oculta la animación */
	max-height:0px;
	overflow:hidden;
	
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
}

#colorNav li ul li{
	background-color:#313131;
}

#colorNav li ul li a{
	padding:12px;
	color:#fff !important;
	text-decoration:none !important;
	display:block;
}

#colorNav li ul li:nth-child(odd){ /* zebra stripes */
	background-color:#363636;
}

#colorNav li ul li:hover{
	background-color:#444;
}

#colorNav li ul li:first-child{
	border-radius:3px 3px 0 0;
	margin-top:25px;
	position:relative;
}

#colorNav li ul li:first-child:before{ /* La punta del puntero */
	content:'';
	position:absolute;
	width:1px;
	height:1px;
	border:5px solid transparent;
	border-bottom-color:#313131;
	left:50%;
	top:-10px;
	margin-left:-5px;
}

#colorNav li ul li:last-child{
	border-bottom-left-radius:30px;
	border-bottom-right-radius:3px;
}

/* Esto hace que la animacion vuelva a su estado original*/

#colorNav li:hover ul{
	max-height:200px; 
}


/*----------------------------
	Colores
-----------------------------*/


#colorNav li.orange{background-color:#FF9E26;color:#FFE4C1;}
#colorNav li.red{background-color:#FF0B0B;color:#F28282;}
#colorNav li.blue{background-color:#53bfe2;color:#2884a2;}


/*----------------------------
	 Footer
-----------------------------*/


footer{
	background-color: #111111;
	bottom: 0;
	box-shadow: 0 -1px 2px #111111;
	height: 45px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}

footer h2{
	color: #EEEEEE;
	font-size: 14px;
	font-weight: normal;
	left: 80%;
	margin-left: -400px;
	padding: 13px 0 0;
	position: absolute;
	width: 530px;
}

footer h2 i{
	font-style:normal;
	color:#888;
}

footer a.tzine,a.tzine:visited{
	color: #999999;
	font-size: 12px;
	left: 50%;
	margin: 16px 0 0 110px;
	position: absolute;
	text-decoration: none;
	top: 0;
}

footer a i{
	color:#ccc;
	font-style: normal;
}

footer a i b{
	color:#c92020;
	font-weight: normal;
}
/*----------------
DIV ICONO
---------------------*/
div #perfil {

  height: 35px; 
  width: 300px; 
  float: right; 

}

/*MENU PESTAÑAS*/
#contenedor {
    margin: 40px auto;
    width: 750px;  /* Ancho del contenedor */
box-sizing: border-box;
-moz-box-sizing: border-box;
}

#contenedor input {
height: 30px;
visibility: hidden;
}

#contenedor label {
float: left;
cursor: pointer;
font-size: 15px;  /* Tamaño del texto de las pestañas */
font-weight: bold;
line-height: 40px;
height: 40px;
padding: 0 20px;
display: block;
color: #888;  /* Color del texto de las pestañas */
text-align: center;
border-radius: 5px 5px 0 0;
background: #eee;  /* Fondo de las pestañas */
margin-right: 5px;
}

#contenedor input:hover + label {
background: #ddd;  /* Fondo de las pestañas al pasar el cursor por encima */
color: #666;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

#contenedor input:checked + label {
background: #FFDA91;  /* Fondo de las pestañas al presionar */
color: #444; /* Color de las pestañas al presionar */
z-index: 6;
line-height: 40px;
height: 45px;
position: relative;
top: -5px;
-webkit-transition: .1s;
-moz-transition: .1s;
-o-transition: .1s;
-ms-transition: .1s;
}

.content {
background: #FFDA91;  /* Fondo del contenido */
position: relative;
width: 95%;
height: 350px;  /* Alto del contenido */
padding: 30px;
z-index: 5;
border-radius: 0 5px 5px 5px;
}

.content div {
position: absolute;
z-index: -100;
opacity: 0;
transition: all linear 0.1s;
}

#contenedor input.tab-selector-1:checked ~ .content .content-1,
#contenedor input.tab-selector-2:checked ~ .content .content-2,
#contenedor input.tab-selector-3:checked ~ .content .content-3,
#contenedor input.tab-selector-4:checked ~ .content .content-4 {
    z-index: 100;
    opacity: 1;
    -webkit-transition: all ease-out 0.2s 0.1s;
-moz-transition: all ease-out 0.2s 0.1s;
-o-transition: all ease-out 0.2s 0.1s;
-ms-transition: all ease-out 0.2s 0.1s;
}


/*MENU LATERAL*/

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
}
#cssmenu ul {
  position: relative;
  z-index: 597;
  float: left;
}
#cssmenu ul li {
  float: left;
  min-height: 1px;
  line-height: 1em;
  vertical-align: middle;
}
#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}
#cssmenu ul ul {
  margin-top: 1px;
  visibility: hidden;
  position: absolute;
  top: 1px;
  left: 99%;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}
#cssmenu ul ul ul {
  top: 1px;
  left: 99%;
}
#cssmenu ul li:hover > ul {
  visibility: visible;
}
#cssmenu ul li {
  float: none;
}
#cssmenu ul ul li {
  font-weight: normal;
}
/* Custom CSS Styles */
#cssmenu {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  width: 200px;
}
#cssmenu ul a,
#cssmenu ul a:link,
#cssmenu ul a:visited {
  display: block;
  color: #848889;
  text-decoration: none;
  font-weight: 300;
}
#cssmenu > ul {
  float: none;
}
#cssmenu ul {
  background: #fff;
}
#cssmenu > ul > li {
  border-left: 3px solid #d7d8da;
}
#cssmenu > ul > li > a {
  padding: 10px 20px;
}
#cssmenu > ul > li:hover {
  border-left: 3px solid #FF500A;
}
#cssmenu ul li:hover > a {
  color: #FF500A;
}
#cssmenu > ul > li:hover {
  background: #f6f6f6;
}
/* Sub Menu */
#cssmenu ul ul a:link,
#cssmenu ul ul a:visited {
  font-weight: 400;
  font-size: 14px;
}
#cssmenu ul ul {
  width: 180px;
  background: none;
  border-left: 20px solid transparent;
}
#cssmenu ul ul a {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}
#cssmenu ul ul li {
  padding: 0 20px;
  background: #fff;
}
#cssmenu ul ul li:last-child {
  border-bottom: 3px solid #d7d8da;
  padding-bottom: 10px;
}
#cssmenu ul ul li:first-child {
  padding-top: 10px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom: none;
}
#cssmenu ul ul li:first-child:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: -20px;
  top: 13px;
  border-left: 10px solid transparent;
  border-right: 10px solid #fff;
  border-bottom: 10px solid transparent;
  border-top: 10px solid transparent;
}


/*IMAGENES CATALOGO*/
.imagenes-catalogo{
	width: 390px;
	height:360 px;
	}
.imagenes-catalogo1{
	width: 500px;
	height:360 px;
	}
/*P información*/

#informacion{

text-shadow:1px 1px 3px rgba(230,230,230,1);
font-weight:normal;
color:#000000;
background-color:#FFFFFF;
letter-spacing:1pt;
word-spacing:5pt;
font-size:35px;
text-align:left;
font-family:times new roman, times, serif;
line-height:1;
padding:30px;
height:300px;
}
/*CONTACTO TIENDA*/

#contacto{

text-shadow:1px 1px 3px rgba(230,230,230,1);
font-weight:normal;
color:#000000;
background-color:#FFFFFF;
letter-spacing:1pt;
word-spacing:5pt;
font-size:20px;
text-align:left;
font-family:times new roman, times, serif;
line-height:1;
padding:20px;
height:300px;
}
/*TITULOS Y SUBTITULOS*/
.titulos{
font-weight:normal;
color:#E38B27;
letter-spacing:1pt;
word-spacing:7pt;
font-size:38px;
text-align:center;
font-family:impact, sans-serif;
line-height:1;
margin:15px;
padding:5px;
}
.subtitulos{
font-weight:normal;
font-weight: bold;
color:#361BE3;
letter-spacing:1pt;
word-spacing:7pt;
font-size:20px;
text-align:center;
font-family:times, sans-serif;
line-height:1;margin:0px;
padding:0px;
}